<div [style.background]="imageUrl" style="background-size: cover; ">
  <div class="container">
    <ng-container *ngFor="let item of heroDataTitle">
      <div *ngIf="item?.visible && item.tipo_seccion == 'hero'" class="row">
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <div class="hero-caption">
            <h1 class="hero-title">{{item?.titulo}}</h1>
            <p class="hero-text">{{item?.descripcion}}</p>
            <a routerLink="/signup" routerLinkActive="active" class="btn btn-default">{{item?.boton}}</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>