<div class="space-medium" style=" background-image: url('assets/flowercrown.png'); background-repeat: no-repeat; background-position: top center; min-width: 1024px; background-size: cover; max-height: 450px;">
    <div class="container" style="margin-top: 150px;">
        <div class="row">
            <div class="col-lg-8 col offset-l3">
                <div class="card white darken-1" style="width: 614px;">
                    <div class="card-content">
                        <!-- <div class="row">
              <div class="col s12">
                <div class="logo"> <img style="max-width: 100%; max-height: 100%; margin-left: -20px; " src="../../assets/logo.jpg" alt="a"> </div>
              </div>
            </div> -->
                        <div class="row">
                            <span class="card-title" style="margin-top: 25px; font-weight: 500; font-style: normal; margin-left: 3px; ">
                <h4>Subscripción</h4>
              </span>
                        </div>
                        <form id="subscription" [formGroup]="form" method="get" action="" novalidate="novalidate">
                            <ngx-stepper #stepperDemo="stepper">
                                <ngx-step [label]="'Datos básicos'">
                                    <ngx-step-body style="overflow: hidden;">
                                        <div class="row form-group" style="margin-top: 25px;">
                                            <div class="input-field col s6">
                                                <input id="nombre" type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="validate" required>
                                                <label for="nombre">Nombres</label>
                                                <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="apellidos" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" type="text" class="validate" required>
                                                <label for="apellidos">Apellidos</label>
                                                <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="input-field col s12">
                                                <input id="cedula" [(ngModel)]="id" [ngModelOptions]="{standalone: true}" type="text" class="validate" required>
                                                <label for="cedula">Cédula</label>
                                                <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="input-field col s12">
                                                <input id="correo" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="validate" required>
                                                <label for="correo">Correo</label>
                                                <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Ingrese un formato de correo correcto"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group" style="margin-bottom: 0px;">
                                            <div class="input-field col s12">
                                                <input id="contraseña" [(ngModel)]="password" class="form-control" formControlName="contraseña" [formGroup]="form" type="password" class="validate" required>
                                                <label for="contraseña">Contraseña</label>
                                                <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group" style="margin-bottom: 0px;">
                                            <div class="input-field col s12">
                                                <input id="repetirContrasea" class="form-control validate" formControlName="repetirContrasea" [formGroup]="form" type="password" validate required>
                                                <label for="repetirContrasea">Repetir contraseña</label>
                                                <div *ngIf="form.controls.repetirContrasea.errors?.MatchPassword">
                                                    <span style="color: rgba(254, 68, 91, 1);" class="helper-text">Las contraseñas no coinciden</span>
                                                </div>
                                            </div>
                                        </div>

                                        <label for="sexo">Sexo</label>
                                        <form class="form-group" action="#">
                                            <p>
                                                <label>
                          <input class="with-gap" name="genero" id="14" type="radio" checked />
                          <span>Mujer</span>
                        </label>
                                            </p>
                                            <p>
                                                <label>
                          <input class="with-gap" name="genero" id="13" type="radio" />
                          <span>Hombre</span>
                        </label>
                                            </p>
                                        </form>
                                        <div class="row form-group">
                                            <div class="input-field col s12">
                                                <input type="text" id="fecha_nacimiento" [(ngModel)]="birthday" [ngModelOptions]="{standalone: true}" class="datepicker validate" required>
                                                <label for="fecha_nacimiento">Fecha de nacimiento</label>
                                                <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="input-field col s12">
                                                <textarea id="direccion" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" class="materialize-textarea validate" required></textarea>
                                                <label for="direccion">Dirección</label>
                                                <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="input-field col s6">
                                                <select id="stateSelect" class="state validate" (change)="chargeCitySelect()" [(ngModel)]="state" [ngModelOptions]="{standalone: true}" required>
                          <option value="" disabled selected>Estado</option>
                          <option *ngFor="let state of states" value="{{state?.id}}">{{state?.nombre}}</option>
                          <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                        </select>
                                                <label>Estado</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <select id="citySelect" class="city validate" [(ngModel)]="city" [ngModelOptions]="{standalone: true}" disabled required>
                          <option value="" disabled selected>Ciudad</option>
                          <ng-container *ngFor="let city of cities">
                            <option *ngIf="stateSelectedForCitySelectCharge == city?.id_estado" value="{{city?.id}}">{{city?.nombre}}</option>
                          </ng-container>
                          <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                        </select>
                                                <label>Ciudad</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="input-field col s12">
                                                <input id="telefono" [(ngModel)]="phonenumber" [ngModelOptions]="{standalone: true}" type="text" class="validate" required>
                                                <label for="telefono">Teléfono</label>
                                                <span class="helper-text" style="color: rgba(254, 68, 91, 1);" data-error="Es un campo requerido"></span>
                                            </div>
                                        </div>
                                    </ngx-step-body>
                                    <ngx-step-actions style="text-align: right;">
                                        <button class="btn btn-default" (click)="selectLikes()">Siguiente</button>
                                    </ngx-step-actions>
                                </ngx-step>
                                <ngx-step [label]="'Gustos y preferencias'">
                                    <ngx-step-body style="overflow: hidden;">
                                        <div class="row form-group" style="margin-top: 25px;">
                                            <div class="col s12">
                                                <label for="gustos">Gustos</label>
                                                <ul class="collapsible">
                                                    <ng-container *ngFor="let like of likesToShow">
                                                        <li *ngIf="like?.visible == true">
                                                            <div class="collapsible-header" id="{{like?.id}}">{{like?.nombre}}</div>
                                                            <div class="collapsible-body">
                                                                <span>
                                  <form action="#">
                                    <ng-container *ngFor="let valuelike of valueLikesToShow">
                                      <div *ngIf="like?.id == valuelike?.id_parametro">
                                        <label>
                                          <input class="with-gap" id="{{valuelike?.id}}" name="group{{valuelike?.idlike}}" type="radio" (change)="chargeLikes(like?.id, valuelike?.id)"
                                          />
                                          <span style="text-transform: capitalize;">{{valuelike?.nombre}}</span>
                                                                </label>
                                                            </div>
                                                    </ng-container>
                        </form>
                        </span>
                        </div>
                        </li>
                        </ng-container>
                        </ul>
                        </div>
                    </div>
                    </ngx-step-body>
                    <ngx-step-actions>
                        <div class="col s6">
                            <a class="btn btn-grey" (click)="goBack()">Regresar</a>
                        </div>
                        <div class="col s6" style="text-align: right;">
                            <a class="btn btn-default" (click)="onSubmit()" type="submit" name="action">Subscribirme</a>
                        </div>
                    </ngx-step-actions>
                    </ngx-step>
                    </ngx-stepper>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>