<div class="container" style="max-width: 100%;">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="navigation" id="navigation" style="margin-left: -30px; margin-right: -30px;">
				<ul style="margin-left: 90px;">
					<li>
						<a routerLink="/" routerLinkActive="active" title="Inicio">Inicio</a>
					</li>
					<li>
						<a routerLink="/serviceList" routerLinkActive="active" title="Servicios">Servicios</a>
					</li>
					<li>
						<a routerLink="/promos" routerLinkActive="active" title="Promociones">Promociones</a>
					</li>
					<li>
						<a routerLink="/tips" routerLinkActive="active" title="Consejos">Consejos</a>
					</li>
					<li>
						<a routerLink="/employeeList" routerLinkActive="active" title="Estilistas">Estilistas</a>
					</li>
					<li>
						<a routerLink="/contact" routerLinkActive="active" title="Empresa">Empresa</a>
					</li>
					<li>
						<a routerLink="/portfolio" routerLinkActive="active" title="Galería">Galería</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>